<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>


      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class='field'>

<div class="field">

  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class='field'>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class='field'>
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class='field'>
  <%= f.label :password_confirmation, 'Confirmation' %><br />
  <%= f.password_field :password_confirmation %>
</div>

  <div class='actions'>
    <%= f.submit %>
  </div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
