
<%= form_for @adventure, url: user_adventures_path, html: {multipart: true} do |f| %>

  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>
      <ul>
        <% @adventure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class='field'>
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title, :placholder => 'Title' %>
  </div>

  <div class='field'>
    <%= f.label :place, 'Place:' %>
    <%= f.text_field :place, :placholder => 'Place' %>
  </div>

  <div class='field'>
    <%= f.label :description, 'Description:' %>
    <%= f.text_field :description, :placholder => 'Name' %>
  </div>

  <div class='field'>
    <%= f.label :image, 'Image:' %>
    <%= f.file_field :image, :placholder => 'image' %>
  </div>
  
  <div class='field'>
    <%= f.label :video, 'Video:' %>
    <%=f.file_field :video%>
  </div>
  
  <div class='actions'>
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
