<h1>Listing Adventures</h1>
<table>
  <div class='main'>
    <table class="table table-striped">
      <th>Title</th>
      <th>Place</th>
      <th>Descrption</th>
      <th>Image</th>
      <th>Video</th>
      <th colspan="3"></th>
      <tbody>
        <% @adventures.each do |adventure| %>
          <tr>
            <td><%= adventure.title %></td>
            <td><%= adventure.place %></td>
            <td><%= adventure.description %></td>
            <td><%= image_tag adventure.image.url(:thumb) %></td>
            <td><%= video_tag adventure.video_url.to_s, :controls =>true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</table>
<br>

<%= link_to 'New Adventure', new_user_adventure_path(current_user) %>
