<%= image_tag @adventure.image.url(:thumb) %>

<%= video_tag @adventure.video_url.to_s, :controls =>true %>


<p>
  <strong>Title:</strong>
  <%= @adventure.title %>
</p>

<p>
  <strong>Place:</strong>
  <%= @adventure.place %>
</p>
<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>


<h4>Comments</h4>
  <div id="comments">
  	<%= render :partial => "comments/comment" %>
  </div>
    <%= form_for [@adventure, Comment.new] do |f| %>
        <div class="field">
          <%= f.label :body %><br>
          <%= f.text_area :body %><br>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>
  </div>
</div>


<%= link_to 'Edit', edit_user_adventure_path %>  |
<%= link_to 'Back', user_adventures_path %>
