@import "bootstrap";

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

h4 {
  color : #345;
  font-size : 20px;
  border-bottom: 1px solid #eef;
}

.timestamp {
  color: $gray-light;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.current_user{
  display: block;
  font-size : 21px;
  font-weight : bold;
  margin-top : 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

table thead {
  position: fixed;
}