<!DOCTYPE html>
<html>
<head>
  <title>Myadventure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='span6'>
        <div class="nav nav-tabs">
          <li><%= link_to 'Home', root_path %></li>
          <% if signed_in? %>  
            <li><%= link_to 'Users', users_path %></li>
          <% end %>
          <% if signed_in? %>
            <li><%= link_to 'Setting', edit_user_path(current_user) %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to 'Sign in', user_session_path, method: 'post' %></li>
          <% end %>        
        </div>
      </div>
    </div>     
<%= yield %>
  </div>
</body>
</html>
